    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
	}

    #places-list{
        display: none;
    }

    body{
        height: 100%;
    }

    .columnImg{
        float: left;
        width: 50%;
        padding: 5px;
    }


    .title{
        text-align: center;
    }

    /*Responsive widget*/

    .widget-right.widget-right--type3.widget-right--brown{
        width: 100%;
    }
    .weather-right.weather-right--brown.weather-right--type3{
        width: 100%;
    }
    .weather-right__layout{
        width: 100%;
    }

    .weather-right__temperature{
        width: 50%;
        margin: 0 auto;
    }
    /* responsive images for small screens*/
    @media screen and (max-width: 500px) {
    .columnImg {
        width: 100%;
    }
    }