{% extends "index.html" %}
{% block content %}

<div class="col-sm-8"> 
        <h1 style="font-family: serif;text-align: center">Welcome to our recommendation website!</h1>
        <p style="font-family: serif;text-align: center;font-size:16px">This application is using your location details for a personalized browsing experience. You will get the weather forecast and 
			you can browse a wide range of places located in your proximity. Based on the current forecast, we'll do our best to <a href="/suggestions">suggest nearby places</a> on a 700m range from your current location!
			If you have any suggestions or questions please let us know  using our <a href="/contact">contact</a> form!</p>
		</h3>

    <hr>


        <div class = "row"  style="float:none">
        <div class="img-on-row">
          <div class = "col-sm-6 col-md-3 columnImg" >

             <div class = "thumbnail " >
                 <img src = "/static/images/rsz_marlay-park.jpg" alt = "Outdoor">

             </div>
             
             <div class = "caption">
                <h3>Outdoor</h3>
             </div>
          </div>
          
          <div class = "col-sm-6 col-md-3  columnImg" >
             <div class = "thumbnail">
                 <img src = "/static/images/Indoor.jpg" alt = "indoor">


             </div>
             
             <div class = "caption">
                <h3>Indoor</h3>
             </div>
          </div>


         </div>
       </div>
      </div>
{% endblock %}